code {
  font-family: "Courier New", Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  font-weight: 700;
  color: #eee;
  white-space: nowrap;
}

p {
  align-self: center;
}

property {
  color: #4fc3f7;
  margin-left: 1rem;
}

value {
  color: #ba68c8;
}

preview {
  display: inline-block;
  position: relative;
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  border-style: solid;
  top: 0.15rem;
}
